<launch>
	<include file="$(find dashgo_driver)/launch/driver_imu_only_scanmatch.launch"/>
	<include file="$(find ydlidar)/launch/ydlidar1_up_hs_2.launch"/>
	<!-- <include file="$(find dashgo_description)/launch/dashgo_description.launch"/> -->
	<include file="$(find nav_main)/launch/include/imu/teb_move_base_hs.launch"/>
	<arg name="base_frame" default="base_footprint"/> 
  	<node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" >
      <param name="base_frame" value="$(arg base_frame)"/>
  	</node>
	<!-- <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
		<rosparam command="load" file="$(find nav_main)/filters/laser_config.yaml" />
	</node> -->
	<!-- <node name="get_scan_data" pkg="nav_main" type="get_scan_data.py" respawn="true" /> -->
</launch>
